additionalArguments:
  - --certificatesresolvers.letsencrypt.acme.email={{ lookup('env', 'ACME_EMAIL') }}
  - --certificatesresolvers.letsencrypt.acme.storage=/data/acme.json
  - --certificatesresolvers.letsencrypt.acme.caserver={{ acme_endpoint[env] }}
  - --certificatesResolvers.letsencrypt.acme.dnschallenge=true
  - --certificatesResolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
  - --api.insecure=true
  - --accesslog=true
  - --log.level=INFO
ports:
  web:
    redirectTo: websecure
env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare
        key: dns-token
ingressRoute:
  dashboard:
    enabled: false
persistence:
  enabled: true
  path: /certs
  size: 128Mi
volumes:
  - mountPath: /data
    name: traefik-config
    type: configMap