additionalArguments:
  - --providers.file.filename=/data/traefik-config.yaml
  - --entrypoints.websecure.http.tls.certresolver=cloudflare
  - --entrypoints.websecure.http.tls.domains[0].main={{ lookup('env', 'DOMAIN_NAME') }}
  - --entrypoints.websecure.http.tls.domains[0].sans=*.{{ lookup('env', 'DOMAIN_NAME') }}
  - --certificatesresolvers.cloudflare.acme.email={{ lookup('env', 'ACME_EMAIL') }}
  - --certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare
  - --certificatesresolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1
  - --certificatesResolvers.cloudflare.acme.dnschallenge=true
  - --certificatesresolvers.cloudflare.acme.storage=/certs/acme.json
  - --certificatesresolvers.cloudflare.acme.caserver={{ acme_endpoint[acme_env] }}
  - --log.level=INFO
ports:
  web:
    redirectTo: websecure
env:
  - name: CF_API_EMAIL
    valueFrom:
      secretKeyRef:
        key: email
        name: cloudflare-api-credentials
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        key: apiKey
        name: cloudflare-api-credentials
ingressRoute:
  dashboard:
    enabled: false
persistence:
  enabled: true
  path: /certs
  size: 128Mi
volumes:
  - mountPath: /data
    name: traefik-config
    type: configMap